.search-input{
    background-color: #31618a;
    color: #57E1ED;
    outline: none;
    border: none;
    width: 100%;
}

.input-ctn{
    background-color: #31618a;
    border-radius: 5px;
    width: 580px;
    padding: 10px;
    border: 1px solid #57E1ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}