html, body{
  padding: 0px;
  margin: 0px;
}

.App {
  font-family: sans-serif;
  background-color: #013766;
  color: #57E1ED;
  min-height: 100vh;
  padding-bottom: 300px;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
